@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(/media/fonts/PT-Sans.woff) format('woff');
}

.alpha {
    height: 100%;
    padding-top: 10%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.homepage {
    padding-top: 0;
    color: #fff;
    text-align: center;
    background: url(/media/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

.notfound {
    padding-top: 0;
    color: #fff;
    text-align: center;
    background: url(/media/images/notfound.gif) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

.homepage h1, .notfound h1 {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    color: #FFF;
    margin-bottom: 0;
}

.homepage h2, .notfound h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.homepage .row, .notfound .row {
    margin: 0;
}

.homepage .btn, .notfound .btn {
    font-size: 21px;
    padding: 7px 92px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-nav > li > button {
    margin-top: 10px;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.btn-xlarge {
    border-radius: 5px;
    font-size: 28px;
    line-height: normal;
    padding: 9px 25%;
}

.login.dropdown-menu {
    padding: 20px;
    width: 300px;
}

.login.dropdown-menu input[type="submit"] {
    width: 100%;
}

.followus, .bitcoin, .github {
    margin: 0;
    padding: 10px 15px;
}

.navbar-nav > li > p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.content {
    height: 100%;
}

.content .container .homepage {
    padding: 0;
    margin: 0;
}

.content .container {
    margin-top: 30px;
}

.registration .plans {
    border-left: 1px solid #E5E5E5;
    margin-top: 30px;
    padding-left: 40px;
}

.registration .plans li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.registration #registration_captcha {
    height: 64px;
}
