{% extends 'rootiovmailmeBundle::base.html.twig' %}

{% block title %}
    {% if status_code == 404 %}
        &bull; {% trans %}Page not found{% endtrans %}
    {% else %}
        &bull; {% trans %}Error{% endtrans %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="notfound">
            <div class="alpha">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>
                                {% if status_code == 404 %}
                                    {% trans %}Page not found{% endtrans %}
                                {% else %}
                                    {% trans %}Error{% endtrans %}
                                {% endif %}
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>
                                {% if status_code == 404 %}
                                    {% trans %}Too bad! Are you lost?{% endtrans %}
                                {% else %}
                                    {% trans %}Oops, something strange just happened, please contact support [at] vmail.me{% endtrans %}
                                {% endif %}
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <a class="btn btn-primary" href="{{ path('homepage') }}">{% trans %}Go to homepage{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
