{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                {% for error in errors %}
                    {{ error.messageTemplate|trans(error.messageParameters, 'messages') }}
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}