{% extends 'rootiovmailmeBundle::base.html.twig' %}

{% block title %}{% trans %}Configure an email app{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans %}Configure an email app{% endtrans %}</h1>
</div>

<table class="table table-bordered">
    <tbody>
        <tr>
            <td>&nbsp;</td><td>{% trans %}IMAP{% endtrans %}</td><td>{% trans %}SMTP{% endtrans %}</td>
        </tr>
        <tr>
            <td>{% trans %}Username{% endtrans %}</td><td>{{ app.user.email }}</td><td>{{ app.user.email }}</td>
        </tr>
        <tr>
            <td>{% trans %}Authentication method{% endtrans %}</td><td>{% trans %}Normal password{% endtrans %}</td><td>{% trans %}Normal password{% endtrans %}</td>
        </tr>
        <tr>
            <td>{% trans %}Server{% endtrans %}</td><td>vmail.me</td><td>vmail.me</td>
        </tr>
        <tr>
            <td>{% trans %}Port{% endtrans %}</td><td>993</td><td>465</td>
        </tr>
        <tr>
            <td>{% trans %}Connection security{% endtrans %}</td><td>SSL/TLS</td><td>SSL/TLS</td>
        </tr>
    </tbody>
</table>

{% endblock %}