## Symfony2
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

## Console scripts
dfilter.sh
imap-postlogin.sh
pop-postlogin.sh
quota-warning.sh
