parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     vmailme
    database_user:     ~
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            1ac316a6a329ecc8c9ba564d2d235f1010

    registration: false

    smtp_quota_daily: 100
    smtp_quota_monthly: 500
