parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     null
    database_name:     vmailme
    database_user:     www
    database_password: CONFIG_MARIADB_WWW_PASSWORD

    mailer_transport:  smtp
    mailer_host:       CONFIG_DOMAIN
    mailer_user:       null
    mailer_password:   null

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    registration: false

    smtp_quota_daily: 100
    smtp_quota_monthly: 500
