{% extends 'rootiovmailmeBundle::base.html.twig' %}

{% block title %}{% trans %}Plans{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans %}Plans{% endtrans %}</h1>
</div>

<div class="row-fluid text-center">
    <div class="span12 well">
        <h2>{% trans %}Basic{% endtrans %} <span class="label label-success price">{% trans %}Free{% endtrans %}</span></h2>

        <ul class="list-unstyled pricing">
            <li>{% trans %}500Mb storage (≈ 5000 emails){% endtrans %}</li>

            <li>{% trans %}Webmail{% endtrans %}</li>
            <li>{% trans %}Spam protection{% endtrans %}</li>
            <li>{% trans %}Secure browsing{% endtrans %} (HTTPS <span class="glyphicon glyphicon-lock"></span>)</li>
            <li>{% trans %}Secure email transit{% endtrans %} (SMTPS <span class="glyphicon glyphicon-lock"></span>)</li>
            <li>{% trans %}No advertising{% endtrans %}</li>
            <li>{% trans %}Email forwarding{% endtrans %}</li>
            <li>{% trans %}IMAP & POP{% endtrans %}</li>
        </ul>
    </div>
</div>
{% endblock %}
