{% extends 'rootiovmailmeBundle::base.html.twig' %}

{% block title %}{% trans %}Terms of service{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans %}Terms of service{% endtrans %}</h1>
</div>

<pre>
Conditions d'Utilisation www.vmail.me

Dernière modification: 8 Mars 2011

1. Definitions

1.1. Chaque terme débutant ci-après par une majuscule a le sens qui lui est donné dans sa définition qui figure au présent article.

    1.1.1. « Service(s) » : désigne l'ensemble des services fournis par www.vmail.me aux Utilisateurs.
    1.1.2. « Utilisateurs » : désigne toute personne physique ou morale utilisant un ou plusieurs des Services.
    1.1.3. « Spamming » : désigne l'envoi, parfois massif et répété, de courriers électroniques non sollicités, à des personnes avec lesquelles l'expéditeur n'a parfois jamais eu de contact et dont il a capté l'adresse électronique de façon irrégulière c'est-à-dire sans l'autorisation préalable de son titulaire.
    1.1.4.« Spam » : désigne le courrier électronique non sollicité envoyé dans le cadre d'un Spamming.


2. Modification des Services

    2.1. www.vmail.me se réserve le droit de modifier ou d'interrompre temporairement ou définitivement tout ou partie de ses Services. L'interruption sera notifiée au moyen d'un avertissement figurant sur la page d'accueil ou par tout autre procédé.


3. Actions interdites par les Utilisateurs

    3.1. Générer ou de faciliter l'envoi de messages commerciaux non sollicités ("spam"). Cette utilisation comprend, sans s'y limiter : 

    3.1.1. l'envoi de courriers électroniques en violation du CAN-SPAM Act ou de toute autre législation anti-spam applicable ;
    3.1.2. l'imitation ou l'usurpation d'identité d'une autre personne ou de son adresse, ou la création de faux comptes pour l'envoi de spam ;
    3.1.3. l'envoi de courriers électroniques non autorisés via des serveurs tiers ouverts ;
    3.1.4. l'envoi de courriers électroniques à des Utilisateurs qui ont demandé leur retrait d'une liste de diffusion ;
    3.1.5. la vente, l'échange ou la distribution à des tiers d'adresses électroniques de personnes sans que celles-ci aient connaissance d'une telle divulgation et y consentent ;
    3.1.6. l'envoi de messages non sollicités à un nombre significatif d'adresses électroniques appartenant à des personnes ou des entités avec lesquelles vous n'aviez aucune relation préalable.

    3.2.1. D'envoyer, télécharger, distribuer, propager tout contenu illégal, diffamatoire, importun, abusif, frauduleux, interdit, obscène ou autrement choquant ou de proposer d'effectuer de telles actions.
    3.2.2. De distribuer intentionnellement des virus, vers, chevaux de Troie, fichiers endommagés, canulars ou tout autre élément de nature destructrice ou mensongère.
    3.2.3. D'organiser des pyramides ou pratiques similaires, ou de les transférer.
    3.2.4. D'envoyer du contenu préjudiciable aux mineurs.
    3.2.5. D'usurper l'identité d'une autre personne (via l'utilisation d'une adresse électronique ou autre) ou de mentir sur leur identité ou sur la source du courrier électronique.
    3.2.6. De transférer illégalement le contenu d'un tiers protégé par les lois sur la propriété intellectuelle ou toute autre information privée sans l'autorisation du propriétaire ou du titulaire de la licence.
    3.2.7. D'utiliser www.vmail.me pour violer les droits protégés par la loi (tels que le droit au respect de la vie privée ou à l'image) de tiers.
    3.2.8. De promouvoir ou d'encourager une activité illégale.
    3.2.9. De gêner l'utilisation de www.vmail.me par les autres Utilisateurs.
    3.2.10. De créer plusieurs comptes d'Utilisateur ou de créer des comptes d'Utilisateur de façon automatisée ou avec une identité fausse ou frauduleuse.
    3.2.11. De pratiquer la vente, la revente ou l'échange de comptes www.vmail.me ou d'exploiter à des fins commerciales non autorisées ou de transférer des comptes www.vmail.me
    3.2.12. De modifier, adapter, traduire ou d'opérer la rétroconception du Service www.vmail.me
    3.2.13. De supprimer toute mention de droit d'auteur, de marque commerciale ou de tout autre droit de propriété contenue dans le Service www.vmail.me
    3.2.14. De reformater ou de modifier toute partie des pages Web contenues dans le Service www.vmail.me
    3.2.15. D'utiliser le Service www.vmail.me à des fins d'échanges illégaux de fichiers poste à poste.


4. Sécurité

    4.1. Vous devez en avertir www.vmail.me dans les plus brefs délais en cas de violation de la sécurité des Services, notamment, sans s'y limiter, d'une utilisation non autorisée de votre mot de passe ou de votre compte. Pour assurer la sécurité de votre mot de passe ou de votre compte, veuillez vous déconnecter de votre compte à la fin de chaque session.


5. Inactivité du compte

    5.1. www.vmail.me se réserve le droit de résilier votre compte conformément aux Conditions d'Utilisation si vous ne vous connectez pas à votre compte pendant une période de neuf mois.


6. Mobile

    6.1 Nous proposons actuellement des Services mobiles gratuits. Cependant, les tarifs appliqués par votre opérateur, comme pour l'envoi et la réception de courriers électroniques, restent à votre charge.


7. Garanties

    7.1. Votre utilisation du Service se fait a vos risques et perils. le Service vous est fourni sur la base d'un Service « en l'etat » et accessible en fonction de sa disponibilite. www.vmail.me ne fournit aucune garantie expresse ou implicite, en ce y compris sans que cette enumeration ne soit limitative les garanties afferentes a la qualite et la compatibilite du Service a un usage specifique, et a la non violation des regles d'utilisation du Service par ses Utilisateurs.
    7.2. www.vmail.me ne garantit pas que (i) le Service repondra parfaitement a vos attentes (ii) le Service sera ininterrompu, opportun, sûr ou depourvu de toute erreur (iii) les resultats qui peuvent etre obtenu en utilisant le Service seront exacts et fiables (iv) la qualite de tous produits, Services, informations ou tout autre materiel
achetes ou obtenus par vous sur le Service seront a la hauteur de vos attentes, et (v) que les defauts dans les logiciels utilises, s'il en existe, feront l'objet d'une correction.
    7.3. Tous materiels telecharges ou obtenus de toute autre maniere lors de l'utilisation du Service a vos risques et perils. vous serez seul responsable pour tout dommage subi par votre ordinateur ou toute perte de donnees consecutifs au telechargement de ce materiel.
    7.4. Aucun conseil et aucune information, qu'ils soient oraux ou ecrits, obtenus par vous de www.vmail.me ou lors de l'utilisation du Service ne sont susceptibles de creer des garanties non expressement prevues par le present accord.


8. Limitation de responsabilité

    8.1 Vous reconnaissez et acceptez que, dans toute la mesure permise par la reglementation en vigueur, www.vmail.me ne pourra etre tenu pour responsable de tout dommage direct ou indirect en ce y compris notamment les pertes de profits, de clientele, de donnees ou toute autre perte de biens incorporels (et ce même si www.vmail.me a ete informe de la potentialite de tels dommages) pouvant survenir (i) de l''utilisation ou au contraire de l'impossibilite d'utiliser le Service, (ii) de cout pouvant survenir du fait de l'aquisition de biens ou de Services de substitution resultant de l'achat de biens ou de Services ou a la reception de messages ou a des transactions survenues lors de l'utilisation du Service, (iii) suite a un acces non autorise au Service par un Utilisateur ou a la modification de votre transmission ou de votre banque de donnees ; (iv) suite a une declaration ou a la conduite d'un tiers sur le Service et (v) toutes autres questions en rapport avec le Service.


9. Non respect des Conditions d'Utilisation

    9.1. En cas de non-respect de ce règlement, www.vmail.me se réserve le droit, à sa seule discrétion et à tout moment, de vous envoyer un avertissement ou de suspendre ou de résilier votre compte.


10. Modifications des Conditions d'Utilisation

    10.1. L'utilisation du Service implique l'acceptation par l'Utilisateur, de l'ensemble des stipulations décrites par les présentes Conditions d'Utilisation et de toutes les modifications que www.vmail.me pourrait y apporter.
</pre>
{% endblock %}