{% extends 'rootiovmailmeBundle::base.html.twig' %}

{% block title %}{% trans %}Terms of service{% endtrans %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans %}Terms of service{% endtrans %}</h1>
</div>

<pre>
{% trans %}TOS{% endtrans %}
</pre>
{% endblock %}
