CONFIG_IP_PRIMARY='1.3.3.7'
CONFIG_REVERSE_PRIMARY='mx1.vmail.dev'
CONFIG_IP_SECONDARY='1.3.3.8'
CONFIG_REVERSE_SECONDARY='mx2.vmail.dev'
CONFIG_DOMAIN='vmail.dev'

CONFIG_TIMEZONE='Europe/Paris'

CONFIG_MARIADB_ROOT_PASSWORD='root'
CONFIG_MARIADB_SERVER_PASSWORD='server'
CONFIG_MARIADB_WWW_PASSWORD='www'
CONFIG_MARIADB_ROUNDCUBE_PASSWORD='roundcube'
CONFIG_MARIADB_PIWIK_PASSWORD='piwik'

CONFIG_SSL_COUNTRY_CODE='FR'
CONFIG_SSL_STATE='Ile-de-France'
CONFIG_SSL_CITY='Paris'
